<!DOCTYPE html>
<html>

<head>
    <title>Un Blockchain de qualité</title>

    <style>
        body{
            font-family: Arial;
            margin:40px;
            background:#f4f4f4;
        }

        h1{
            color:#333;
        }

        button{
            padding:10px;
            margin:5px;
        }

        input{
            padding:8px;
            margin:5px;
        }

        .box{
            background:white;
            padding:20px;
            margin-top:20px;
            border-radius:5px;
            box-shadow:0px 0px 5px rgba(0,0,0,0.1);
        }

        pre{
            background:#222;
            color:#00ff88;
            padding:15px;
            overflow:auto;
        }
    </style>
</head>

<body>

<h1>🚀 Mini Blockchain Explorer</h1>

<button onclick="createWallet()">Créer un wallet</button>

<pre id="walletResult"></pre>

<button onclick="loadChain()">🔗 Voir Blockchain</button>
<button onclick="loadMempool()">📥 Voir Mempool</button>
<button onclick="mineBlock()">⛏ Miner Bloc</button>

<div class="box">

<h2>Envoyer une transaction</h2>

<input id="sender" placeholder="Sender">
<input id="receiver" placeholder="Receiver">
<input id="amount" placeholder="Amount">

<button onclick="sendTransaction()">Envoyer</button>

</div>

<div class="box">

<h2>Wallets</h2>

<button onclick="loadWallets()">Actualiser Wallets</button>

<div id="wallets"></div>

<button onclick="giveMoney('Alice')">💰 Faucet Alice</button>
<button onclick="giveMoney('Bob')">💰 Faucet Bob</button>

</div>

<div class="box">

<h2>Blockchain</h2>

<div id="chain"></div>

</div>

<div class="box">

<h2>Mempool</h2>

<div id="mempool"></div>

</div>

<script>

const API = "http://127.0.0.1:5000"


async function loadChain(){

    const response = await fetch(API + "/chain")
    const chain = await response.json()

    const container = document.getElementById("chain")

    container.innerHTML = ""

    chain.forEach((block, index) => {

        let blockHTML = `
        <div class="box">
            <h3>Bloc ${index}</h3>
            <p><b>Hash:</b> ${block.hash}</p>
            <p><b>Previous:</b> ${block.previous_hash}</p>
            <p><b>Transactions:</b></p>
        `

        if(block.transactions.length === 0){

            blockHTML += `<p>Aucune transaction</p>`

        } else {

            block.transactions.forEach(tx => {

                blockHTML += `
                <p>
                    ${tx.sender} → ${tx.receiver}
                    (${tx.amount})
                </p>
                `

            })

        }

        blockHTML += `</div>`

        container.innerHTML += blockHTML

    })

}

async function loadWallets(){

    const users = ["Alice","Bob"]

    const container = document.getElementById("wallets")

    container.innerHTML = ""

    for(const user of users){

        const response = await fetch(API + "/balance/" + user)
        const data = await response.json()

        const html = `
        <div class="box">
            <p><b>Adresse:</b> ${data.address}</p>
            <p><b>Balance:</b> ${data.balance}</p>
        </div>
        `

        container.innerHTML += html

    }

}
async function createWallet() {

    const response = await fetch("/wallet/create", {
        method: "POST"
    })

    const data = await response.json()

    console.log(data)

    document.getElementById("walletResult").innerText =
        "Public Key:\n" + data.public_key + "\n\nPrivate Key:\n" + data.private_key
}

async function giveMoney(user){

    await fetch(API + "/faucet/" + user,{
        method:"POST"
    })

    alert("100 coins sent to " + user)

    loadWallets()
}


async function loadMempool(){

    const response = await fetch(API + "/mempool")
    const mempool = await response.json()

    const container = document.getElementById("mempool")

    container.innerHTML = ""

    if(mempool.length === 0){

        container.innerHTML = "<p>Aucune transaction en attente</p>"
        return

    }

    mempool.forEach(tx => {

        const txHTML = `
        <div class="box">
            <p><b>Sender:</b> ${tx.sender}</p>
            <p><b>Receiver:</b> ${tx.receiver}</p>
            <p><b>Amount:</b> ${tx.amount}</p>
        </div>
        `

        container.innerHTML += txHTML

    })

}


async function sendTransaction(){

    const sender = document.getElementById("sender").value
    const receiver = document.getElementById("receiver").value
    const amount = parseInt(document.getElementById("amount").value)

    const response = await fetch(API + "/transaction",{
        method:"POST",
        headers:{
            "Content-Type":"application/json"
        },
        body:JSON.stringify({
            sender:sender,
            receiver:receiver,
            amount:amount
        })
    })

    const data = await response.json()

    alert(JSON.stringify(data))
}


async function mineBlock(){

    const response = await fetch(API + "/mine",{
        method:"POST"
    })

    const data = await response.json()

    alert(JSON.stringify(data))

    loadChain()
}

</script>

</body>
</html>